.card {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  margin-bottom: 60px;
  padding: 20px;
}

.card__title {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.card__subtitle {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.card__button-container {
  width: 20%;
}

.card__generate-button {
  padding: 10px;
  border: 1px solid #56B37F;
  border-radius: 4px;
  color: #56B37F;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
  margin-right: 30px;
  height: 45px;
  width: 160px;
}

.card__generate-button:hover {
  color: #54C786;
  cursor: pointer;
}

.card__start-button {
  padding: 10px;
  background-color: #56B37F;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  margin-right: 30px;
  height: 45px;
  width: 160px;
}

.card__start-button:hover {
  background-color: #54C786;
  cursor: pointer;
}

.card__main {
  display: flex;
  flex-direction: row;
}

.card__result {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.card__result-label {
  width: 200px;
  text-align: center;
}

.canvas {
  width: 280px;
  height: 280px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.canvas__clear-button {
  padding: 10px 20px;
  border: 1px solid #56B37F;
  border-radius: 4px;
  color: #56B37F;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
  margin-right: 10px;
  height: 45px;
  width: 135px;
}

.canvas__clear-button:hover {
  color: #54C786;
  cursor: pointer;
}

.canvas__recognize-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background-color: #56B37F;
  height: 45px;
  width: 135px;
}

.canvas__recognize-button:hover {
  background-color: #54C786;
  cursor: pointer;
}
